@charset "UTF-8";

/* 회원가입 타이틀과 간격 */
.member-img-block {
  margin: 40px 40px 0 0;
  padding-bottom: 40px;
  padding-left: 130px;
  padding-right: 70px;
}
/* 사진 동그랗게 */
.member-img-circle img {
  border-radius: 50%;
  -webkit-box-shadow: #dbdbdb 0px 0px 0px 2px;
  box-shadow: #dbdbdb 0px 0px 0px 2px;
}
 
 /*파일 업로드 버튼 */
.member-img-upbtn {
  display: inline-block;
  padding-left: 0px;
}

.file-container {
  color: #ff2d55;
  background-color: white;
} 

 .cover {
  position: relative;
} 

.cover .member-img-upbtn {
  position: absolute;
  left: 0;
  top: 0;
} 

 .member-img-upbtn {
  border: 2px solid #ff2d55;
}
/* 이미지 업로드 버튼 */
.cover #member_profile {
  opacity: 0;
  width: 1px;
  height: 1px;
}
/* Email 인증 번호 입력 칸  */
input[type="text"]:disabled {
	background: white;
}
